<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.ruituo.dao.VideoMapper">
  <resultMap id="BaseResultMap" type="com.qfedu.ruituo.entity.Video">
    <result column="vdid" jdbcType="INTEGER" property="vdid" />
    <result column="vtitle" jdbcType="VARCHAR" property="vtitle" />
    <result column="vurl" jdbcType="VARCHAR" property="vurl" />
    <result column="vtime" jdbcType="TIMESTAMP" property="vtime" />
  </resultMap>

</mapper>